.table-div {
    margin-top: 1rem;
}

table {
    width: 50%;
    margin: 2rem auto 0px auto;
}

caption {
    font-size: 1.6em;
    font-weight: 400;
    padding: 0.8rem 0;
}

th, td {
    text-align: center;
    font-weight: 300;
    text-shadow: 1px 1px 1px rgba(54, 53, 53, 1);
}

.txt-recently {
    font-weight: 200;
    font-size: 0.9rem;
}

.txt-recently {
    font-weight: 200;
    font-size: 0.9rem;
}

#txt-recently-title {
    font-weight: 400;
    font-size: 1.4rem;
    padding: 2px 3px;
}

#txt-best-player-title {
    font-weight: 400;
    font-size: 1.4rem;
    padding: 2px 3px;
}

.dark {
    background-color: #16171a;
    color: white;
    border: solid 1px #515151;
}

.card {
    display: flex;
    justify-content: space-around;
    color: black;
    background-color: #e5e5e5;
}

.medium-txt {
    font-size: 1.4rem;
    font-weight: 400;
    margin: 2px 0px 12px 0;
}

.small-txt {
    font-weight: 200;
    font-size: 1rem;
    margin: 0;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.medium-card {
    margin: 0 auto 1rem 0;
    border-radius: 1rem;
    width: 18rem;
    padding: 1rem 0.5rem 1rem 1rem;
    text-align: center;
}

.card-avatar {
    width: 8rem;
    height: 8rem;
    border-radius: 8rem;
    margin: 1.5rem;
    border: 0px;
}

#profile-top-txt {
    font-weight: 300;
    font-size: 1.2rem;
    margin: 0;
}

#profile-mid-txt {
    font-weight: 400;
    font-size: 1.2rem;
    margin: 0;
}

#profile-bot-txt {
    font-weight: 400;
    font-size: 0.9rem;
    margin: 3px 0 0 0;
}

.date {
    font-weight: 200;
    font-size: 0.8rem;
}

.points {
    font-weight: 400;
    font-size: 1rem;
}

.gold {
    color: #fdcb6e;
}

.silver {
    color: #A3AFBF;
}

.brown {
    color: #E17055;
}

.blue {
    color: #00cec9;
}

table {
    text-align: left;
    width: 45rem;
    margin: 1rem auto;
}

.table-div {
    margin: 0 auto;
    width: 100%;
    padding: 2rem;
    border-radius: 1rem;
}

#top-table {
    display: flex;
    justify-content: space-between;
    text-align: left;
}

#table-title {
    font-weight: 400;
    font-size: 1.1rem;
    margin: auto 0px auto 2rem;
}

#table-date {
    font-weight: 200;
    font-size: 0.9rem;
    margin: auto 1rem auto 1rem;
    padding: 0.8rem 1.2rem;
}

#tr-head {
    font-weight: 200;
    font-size: 0.9rem;
}

.avatar-table {
    width: 3rem;
    height: 3rem;
    border-radius: 3rem;
    margin: 0.5rem;
    border: 0px;
}


.arrow-image {
    width: 3.5em;
    height: auto;
}

a {
    text-decoration: none;
}

#td-footer {
    text-align: center;
    color: white;
}

#tr-head {
    padding: 0.5rem;
}

.avatar {
    width: 3rem;
    height: auto;
    margin: auto;
    border: solid 1px #000;
}

.red-bg {
    background-color: darkred;
    padding: 0.2rem 0.4rem;
}

.margin-auto {
    margin: auto 1rem;
}