{% extends '_base.html' %}
{% load static %}
{% load humanize %}

{% block title %}{% endblock title %}
{% block content %}
<div class="content">
  <!-- PROFILE -->
  {% include 'scoreboard/score_cards.html' %}

  <!-- TABLE DIV -->
  <div class="dark table-div">

    <!-- CAPTION -->
    <div id="top-table">
      <h1 id="table-title">LEADERBOARD</h1>
      <h2 class="dark" id="table-date">{{ start_date }} - {{ end_date }}</h2>
      <h2 class="txt-recently margin-auto"><span class="red-bg dark ">
        LIVE
      </span>
      </h2>
    </div>

    <!-- TABLE -->
    <table>
      <!-- TABLE HEAD-->
      <thead>
        <tr id="tr-head">
          <th scope="col">Rank</th>
          <th scope="col">Avatar</th>
          <th scope="col">Username</th>
          <th scope="col">Points</th>
          <th scope="col">Date</th>
        </tr>
      </thead>

      <!-- TABLE FOOT-->
      {% include 'scoreboard/score_table_foot.html' %}

      <!-- TABLE BODY-->
      {% include 'scoreboard/score_table.html' %}

  </div>
</div>
{% endblock content %}
