{% extends "_base.html" %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div class="signin dark">
    <div class="group head">
        <h2>Password Reset</h2>
        <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
          {% if form.errors %}
              {% for error in form.non_field_errors %}
                <p class="txt-error">{{ error }}</p>
              {% endfor %}
          {% endif %}
      </div>
    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        <div class="group">
            {{ form.as_p }}
        </div>
        <div class="group">
            <button type="submit"><span>Reset My Password</span></button>
        </div>
    </form>
</div>
{% endblock %}