{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
    />
    <!-- TITLE -->
    <title>Scoreboard - Login</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
  </head>
  <body>
  <!-- NAVBAR -->
  <div class="nav">{% include '_navbar.html' %}</div>

  <div class="content">
    <div class="signin dark">
      <form action="{% url 'signup' %}" method="post" autocomplete="off"> {% csrf_token %}
        <div class="group head">
          <h2>Welcome,</h2>
          <p>Sign Up now!</p>
            <div class="txt-error">
            {% if form.errors %}
                <p>{{ form.errors }}</p>
            {% endif %}
            </div>
        </div>

        <div class="group">
          <label for="username-field">Username</label><br />

          <input type="text" name="username" id="username-field" placeholder="name" required />
        </div>

        <div class="group">
            <label for="email-field">Email</label><br />
  
            <input type="text" name="email" id="email-field" placeholder="email" required />
          </div>

        <div class="group">
          <label for="password-field">Password</label><br />
          <input type="password" name="password1" id="id_password1" autocomplete="new-password" required />
          <span
            toggle="#password-field"
            class="fa fa-fw fa-eye field-icon toggle-password"
          ></span>
        </div>

        <div class="group">
            <label for="password-field">Re-Password</label><br />
            <input type="password" name="password2" id="id_password2" autocomplete="new-password" required />
            <span
              toggle="#password-field"
              class="fa fa-fw fa-eye field-icon toggle-password"
            ></span>
          </div>

        <div class="group forgot-pass-link">
          <a href="#"></a>
        </div>
        <div class="group">
          <button type="submit"><span>Register</span></button>
        </div>
      </form>
    </div>
  </div>
  </body>
</html>
