{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>{% block title %}Scoreboard{% endblock title %}</title>
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <!-- Navbar -->
    <div class="nav">
      <input type="checkbox" id="nav-check">
      <div class="nav-header">
        <div class="nav-title">
          <a id="nav-logo" href="{% url 'book_list' %}">
            <img id="logo-image" src="{% static 'images/logo.png' %}">
            TETRIS
          </a>
        </div>
      </div>
      <div class="nav-btn">
        <label for="nav-check">
          <span></span>
          <span></span>
          <span></span>
        </label>
      </div>
      
      <div class="nav-links">
        <a class="nav-item" href="#">Profile</a>
        <a class="nav-item" href="#">Sign In</a>
        <a class="nav-item" href="#">Sign Up</a>
      </div>
    </div>
    <!-- Content -->
    <div class='content'>
        {% block content %}
        {% endblock content %}
    </div>
</body>
</html>