{% load static %}
<input type="checkbox" id="nav-check" />
<div class="nav-header">
  <!-- NAVBAR LOGO-->
  <div class="nav-title">
    <a id="nav-logo" href="{% url 'score_list' %}">
      <img id="logo-image" src="{% static 'images/logo.png' %}" />
      TETRIS
    </a>
  </div>
  
</div>
<div class="nav-btn">
  <label for="nav-check">
    <span></span>
    <span></span>
    <span></span>
  </label>
</div>

<!--NAVBAR LINKS -->
<div class="nav-links">
  {% if user.is_authenticated %}
  <a class="nav-item" href="#">Profile</a>
  <a class="nav-item" href="{% url 'logout' %}">Logout</a>
  {% else %}
  <a class="nav-item" href="{% url 'login' %}">Sign In</a>
  <a class="nav-item" href="{% url 'signup' %}">Sign Up</a>
  {% endif %}
</div>
