/* NAVBAR */
* {
  box-sizing: border-box;
}

.nav {
  height: 5rem;
  width: 100%;
  background-color: #16171a;
  position: relative;
  text-shadow: 0.2rem 0.2rem 0.25rem rgba(37, 76, 73, 1);
  border-bottom: solid 1px #26282d;
}

.nav>.nav-header {
  display: inline;
}

.nav>.nav-header>.nav-title {
  display: inline-block;
  font-size: 1.8rem;
  color: #fff;
  padding: 0.5rem;
}

.nav>.nav-btn {
  display: none;
}

.nav>.nav-links {
  display: inline;
  float: right;
  font-size: 1.4rem;
}

.nav>.nav-links>.nav-item {
  display: inline-block;
  padding: 0.5rem;
  text-decoration: none;
  color: #efefef;
  margin-top: 1rem;
}

.nav>.nav-links>.nav-item:hover {
  background-color: #26282d;
}

.nav>#nav-check {
  display: none;
}

.nav-btn {
  margin-top: 1rem;
}

#logo-image {
  width: 2em;
  height: auto;
}

#nav-logo {
  color: #FFF;
}



/* PHONE */
@media (max-width:600px) {

  .nav>.nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }

  .nav>.nav-btn>label {
    display: inline-block;
    padding: 1rem;
  }

  .nav>.nav-btn>label:hover, .nav #nav-check:checked~.nav-btn>label {
    background-color: rgba(0, 0, 0, 0.3);
  }

  .nav>.nav-btn>label>span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }

  .nav>.nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #16171a;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }

  .nav>.nav-links>.nav-item {
    display: block;
    width: 100%;
  }

  .nav>#nav-check:not(:checked)~.nav-links {
    height: 0px;
  }

  .nav>#nav-check:checked~.nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}