/* PHONE */
@media (max-width:600px) {
    .content {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    table {
        margin: 1rem auto 0px auto;
        width: 100%;
    }
}


.table-div {
    margin-top: 10px;
}

table {
    width: 50%;
    margin: 2rem auto 0px auto;
}

caption {
    font-size: 1.6em;
    font-weight: 400;
    padding: 10px 0;
}

th, td {
    text-align: center;
    font-weight: 300;
    text-shadow: 1px 1px 1px rgba(54, 53, 53, 1);
}

.txt-recently {
    font-weight: 200;
    font-size: 0.9rem;
}

.txt-recently {
    font-weight: 200;
    font-size: 0.9rem;
}

#txt-recently-title {
    font-weight: 600;
    font-size: 1.2rem;
    background-color: #C61414;
    border-radius: 5px;
    padding: 2px 3px;
    border: solid 1px gray;
}

#txt-best-player-title {
    font-weight: 600;
    font-size: 1.2rem;
    background-color: #8d127a;
    border-radius: 5px;
    padding: 2px 3px;
    border: solid 1px gray;
}

/* TABLES */



.dark {
    background-color: #16171a;
    color: white;
    border: solid 1px #515151;
}

.card {
    display: flex;
    justify-content: space-around;
    color: black;
    background-color: #e5e5e5;
}

.medium-txt {
    font-size: 1.4rem;
    font-weight: 400;
    margin: 2px 0px 12px 0;
}

.small-txt {
    font-weight: 200;
    font-size: 1rem;
    margin: 0;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.medium-card {
    margin: 0 auto 20px 0;
    border-radius: 10px;
    width: 300px;
    padding: 20px 5px 10px 10px;
    text-align: center;
}

.card-avatar {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background-color: white;
    margin: 15px;
}

#profile-top-txt {
    font-weight: 300;
    font-size: 1.2rem;
    margin: 0;
}

#profile-mid-txt {
    font-weight: 400;
    font-size: 1.2rem;
    margin: 0;
}

#profile-bot-txt {
    font-weight: 400;
    font-size: 0.9rem;
    margin: 3px 0 0 0;
}

.date {
    font-weight: 200;
    font-size: 0.8rem;
}

.points {
    font-weight: 400;
    font-size: 1rem;
}

.gold {
    color: #fdcb6e;
}

.silver {
    color: #A3AFBF;
}

.brown {
    color: #E17055;
}

.blue {
    color: #00cec9;
}

table {
    text-align: left;
    width: 600px;
    margin: 10px auto;
}

.table-div {
    margin: 0 auto;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
}

#top-table {
    display: flex;
    justify-content: space-between;
    text-align: left;
}

#table-title {
    font-weight: 400;
    font-size: 1.1rem;
    margin: auto 0px auto 20px;
}

#table-date {
    font-weight: 200;
    font-size: 0.9rem;
    margin: auto 20px auto 20px;
    padding: 8px 12px;
}

#tr-head {
    font-weight: 200;
    font-size: 0.9rem;
}

.avatar-table {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 40px;
    margin: 10px;
}


.arrow-image {
    width: 3.5em;
    height: auto;
}

a {
    text-decoration: none;
}

#td-footer {
    text-align: center;
    color: white;
}

#tr-head {
    padding: 5px;
}

.avatar {
    width: 3rem;
    height: auto;
    margin: auto;
    border: solid 1px #000;
}